<div class="sportbus-page sportbus-page-management page-fill" fxLayout="row">
  <div class="page-space" fxFlex></div>
  <div class="page-content" fxLayout="column">
    <div class="management-section">
      <div class="management-row" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex>Delete all session-on-day</div>
        <button mat-raised-button color="danger" (click)="deleteAllSod()">
          delete
        </button>
      </div>
    </div>
  </div>
  <div class="page-space" fxFlex></div>
</div>
