
.sportbus-page-access {
  .page-content {
    width: 300px;
  }
}

.access-code {
  padding-top: calc(var(--spb-padding) * 5);
  margin-bottom: calc(var(--spb-padding) * 5);
}

.help-title {
  text-align: center;
  opacity: .2;
  user-select: none;
  font-size: 2em;
  padding-top: 20vh;
}

.code-input {
  border: none;
  outline: none;
  background-color: var(--spb-color-ghost);
}
