body {
  &.theme-dark {
    --spb-color-background: #444;
    --spb-color-foreground: white;
    --spb-color-off :#555;
    --spb-color-off-light :#ccc;
    --spb-color-accent: yellowgreen;
    --spb-color-accent-contrast: #444;
    --spb-color-accent-contrast-40: rgba(51, 51, 51, 0.4);
    --spb-color-secondary: #ff5252;
    --spb-color-secondary-contrast: #444;
    --spb-color-border: rgba(250, 250, 250, 0.2);
    --spb-color-ghost: rgba(250, 250, 250, 0.05);
    --spb-color-hover: rgba(250,250,250,.1);

    --spb-color-success: yellowgreen;
    --spb-color-success-contrast: #111;
    --spb-color-error: #ff5454;


    --spb-art-backgroud-color-1: #31629a;
    --spb-art-backgroud-color-2: #444;
    --spb-art-backgroud-color-3: gold;
    --spb-art-backgroud-color-4: #444;
  }
}
