body {
  --spb-color-background: white;
  --spb-color-foreground: #333;
  --spb-color-off :#ddd;
  --spb-color-off-light :#eee;
  --spb-color-accent: rgb(255, 64, 129);
  --spb-color-accent-contrast: white;
  --spb-color-accent-contrast-40: rgba(255, 255, 255, 0.4);
  --spb-color-secondary: rgb(82 78 91);
  --spb-color-secondary-contrast: white;
  --spb-color-border: rgba(17, 17, 17, 0.1);
  --spb-color-ghost: rgba(1, 1, 1, 0.05);

  --spb-color-hover: rgba(1,1,1,.1);

  --spb-color-success: green;
  --spb-color-success-contrast: white;
  --spb-color-warning: orange;
  --spb-color-warning-contrast: #111;
  --spb-color-error: red;
  --spb-color-error-contrast: white;

  --spb-disabled-opacity: 0.4;

  --spb-schemas-toolbar-height: 76px;
  --spb-menu-separator-size: 10px;
  --spb-footer-size: 126px;

  --spb-art-backgroud-color-1: gold;
  --spb-art-backgroud-color-2: #fff;
  --spb-art-backgroud-color-3: #bd37f6;
  --spb-art-backgroud-color-4: #fff;

  //--spb-art-backgroud-color-1: #9b5de5;
  //--spb-art-backgroud-color-2: #f15bb5;
  //--spb-art-backgroud-color-3: #00bbf9;
  //--spb-art-backgroud-color-4: #00f5d4;

  &.layout-narrow {
    --spb-footer-size: 100px;

    &.layout-compact {
      --spb-footer-size: 70px;
    }
  }
}
